.actions {
  display: flex;
  gap: 1rem;
  align-self: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #0069d9;
  }
}
